.banner {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-top: calc(var(--height--menu) * -1);
}

.banner img,
.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
