.wrapper {
  width: 100%;
  position: relative;
  margin-top: calc(var(--height--menu) * -1);
}

.video {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

.wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}